@import 'base/normalize'
@import 'base/base'
@import 'lib/social-font'
@import 'lib/animate'
@import 'block/header'
@import 'block/keyword-input'
@import 'block/bookmark-slider'
@import 'block/keywords'
@import 'block/item'
@import 'block/rect-spinner'
@import 'block/side-menu'


#content
  flex 1
  box-flex 1
  text-shadow -1px 1px 0 rgba(255, 255, 255, 1)
  color #7F8C8D
  width 100%
  min-height 100%

  a
    color #34495E

div.comment-box
  padding 20px 0 20px 0
  transition  all .4s ease

div.comment-box-close
  transition  all .4s ease
  display none

div.comment-box-open
  height auto

#content > div::-webkit-scrollbar
  width 10px
  height 10px

#content > div::-webkit-scrollbar-thumb
  background #34495E
  border-radius 2px



.items
  padding 20px 30px 0 50px
  height 100%

div.favorite-button
  margin 0 0 20px 0
  font-size 11px
  cursor pointer
  transition  all .4s ease
  display inline-block
  border-radius 3px
  background #ECF0F1
  text-shadow none
  padding 3px 10px
  > i
    margin 0 12px 0 0

div.favorite-button:hover
  color #E74C3C

div.favorited
  color #E74C3C  

div.comment-button
  margin 0 0 20px 10px
  font-size 11px
  cursor pointer
  transition  all .4s ease
  display inline-block
  border-radius 3px
  background #ECF0F1
  text-shadow none
  padding 3px 10px
  > i
    margin 0 12px 0 0

div.comment-button:hover
  color #E74C3C

#header
  display none

@media screen and (max-width: 768px)
  #container
    height 100%
    width 100%
    padding 0px 0 0 0

  #content
    padding 40px 0 0 0

  .items
    padding 10px 15px 0 15px
    height 100%

  div.favorite-button
    margin 10px 0 10px 0
    font-size 11px
    cursor pointer
    transition  all .4s ease
    display inline-block
    > i
      margin 0 10px 0 0

  div.comment-button
    margin 10px 0 10px 
    font-size 11px
    cursor pointer
    transition  all .4s ease
    display inline-block
    > i
      margin 0 10px 0 0

  .github-ribbon
    display none

@media screen and (min-width: 769px)
  #content
    overflow-y auto
    max-height 100%
    width 100%


/* question */
.arrow_question
    position relative
    background #fff
    padding 5px 10px
    border-radius 10px
    width calc(100% - 90px)
    color #34495E
    font-size 11px
    
.arrow_question
    float right

.arrow_question:after,
.arrow_question:before
    top: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none

.arrow_question:after,
.arrow_question:before
  right 100% 
.arrow_question:after 
    border-color rgba(255, 255, 255, 0)
    border-width 15px
    margin-top -15px

.arrow_question:after
  border-right-color #fff
.arrow_question:before
    border-width 16px
    margin-top -16px

.question_image
  float left
  width 60px
  padding 5px 0 0 0

.question_image
  height auto

  img
    border-radius 50%
    width 32px
    height 32px
    margin-left 10px
    border solid 2px #1ABC9C

.question_Box 
  margin-bottom: 25px
  overflow: hidden

.question_Box p
  line-height 1.5

i.comment
  font-size 14px
  margin 2px 0 0 0

span.comment-user
  color #34495E
  padding 5px 5px 0 5px
  font-size 11px
  display inline-block
  width 40px

span.comment-notfound
  font-size 12px
