@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-qz7pb2");
  src: url("../fonts/icomoon.eot?#iefix-qz7pb2") format('embedded-opentype'), url("../fonts/icomoon.woff?-qz7pb2") format('woff'), url("../fonts/icomoon.ttf?-qz7pb2") format('truetype'), url("../fonts/icomoon.svg?-qz7pb2#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-evernote:before {
  content: "\e004";
}
.icon-feedly:before {
  content: "\e007";
}
.icon-pocket:before {
  content: "\e008";
}
.icon-line:before {
  content: "\e009";
}
.icon-hatena:before {
  content: "\e00a";
}
.icon-feedly-square:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e608";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-instagram:before {
  content: "\e610";
}
.icon-twitter:before {
  content: "\e611";
}
.icon-feed:before {
  content: "\e614";
}
.icon-youtube:before {
  content: "\e617";
}
.icon-flickr2:before {
  content: "\e61e";
}
.icon-githubmark:before {
  content: "\e626";
}
.icon-github:before {
  content: "\e627";
}
.icon-wordpress:before {
  content: "\e629";
}
.icon-tumblr:before {
  content: "\e62d";
}
.icon-yahoo:before {
  content: "\e62f";
}
.icon-apple:before {
  content: "\e631";
}
.icon-android:before {
  content: "\e633";
}
.icon-windows:before {
  content: "\e634";
}
.icon-windows8:before {
  content: "\e635";
}
.icon-skype:before {
  content: "\e636";
}
.icon-delicious:before {
  content: "\e638";
}
.icon-pinterest:before {
  content: "\e63a";
}
html,
body,
#pasta {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #f5f5f5;
  font-family: helvetica, "メイリオ", arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
div,
input,
textarea {
  font-family: helvetica, "メイリオ", arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
input,
textarea,
select {
  outline: none;
}
html,
a,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #ccc;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-orient: horizontal;
}
#side-menu {
  background: #2980b9;
  width: 280px;
  height: 100%;
  flex: 0 280px;
  box-flex: 0;
  padding: 0;
  font-size: 14px;
  overflow-y: auto;
  scrollbar-face-color: accent-color;
  scrollbar-track-color: rgba(0,0,0,0.1);
}
#side-menu #logo {
  width: 180px;
  height: auto;
  margin: 20px auto 0 30px;
}
#side-menu #menu {
  color: #ecf0f1;
  margin: 20px 0 0 0;
}
#side-menu #menu ul {
  padding: 0;
}
#side-menu #menu li {
  font-size: 16px;
  margin: 5px 0 8px 0;
  padding: 0px 0 0px 60px;
  line-height: 32px;
  border-radius: 0 4px 4px 0;
  width: 200px;
  transition: all 0.4s ease;
  position: relative;
  height: 32px;
}
#side-menu #menu li a {
  color: #fff;
  width: 100%;
}
#side-menu #menu li i {
  font-size: 12px;
  margin: -1px 30px 0 0;
}
#side-menu #menu li span {
  cursor: pointer;
}
#side-menu #menu li div.remove {
  display: none;
  cursor: pointer;
}
#side-menu #menu li.selected {
  font-size: 16px;
  margin: 5px 0 8px 0;
  background: #34495e;
  padding: 0 0 0 60px;
}
#side-menu #menu li:not(.selected):hover {
  background: #d35400;
}
#side-menu #menu li:hover > div.remove {
  display: inline-block;
  position: absolute;
  left: 230px;
}
#side-menu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#side-menu::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 2px;
}
div.add-keyword {
  margin: 0 0 46px 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
div.add-keyword input {
  border: 0;
  border: solid 1px #2c3e50;
  background: #34495e;
  opacity: 0.9;
  padding: 0 10px;
  color: #f5f5f5;
  border-radius: 3px;
  margin: 0 5px 0 0;
  -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
  box-shadow: inner 0 0 4px rgba(0,0,0,0.1);
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  width: 140px;
}
div.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 15px 0 0 0;
}
div.slider div[name="slider"] {
  width: 70%;
  margin: 0 0 0 15%;
}
div.slider .bookmark-filter {
  background: #34495e;
  color: #f5f5f5;
  padding: 8px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}
div.slider .bookmark-filter i {
  color: #f5f5f5;
  margin: 0 2px -2px 0;
  display: inline-block;
}
div.slider .bookmark-filter:after {
  content: '';
  position: absolute;
  border-top: 10px solid #34495e;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -9px;
  left: 20px;
}
#content {
  flex: 1;
  box-flex: 1;
  text-shadow: -1px 1px 0 #fff;
  color: #7f8c8d;
  width: 100%;
}
#content a {
  color: #34495e;
}
#content .favicon {
  margin: 0 8px -2px 0;
}
#content a.hatebu img {
  margin: 0px 0 -2px 5px;
}
#content a.item-title {
  line-height: 28px;
  font-size: 95%;
  padding: 0 0 3px;
}
#content > div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#content > div::-webkit-scrollbar-thumb {
  background: #34495e;
  border-radius: 2px;
}
.item {
  min-height: 140px;
  max-width: 800px;
  padding: 20px 0 0 0;
}
.item .publish-date {
  margin: 5px 0 0 0;
  font-size: 10px;
  color: #95a5a6;
}
.item .category {
  font-size: 11px;
  background: #16a085;
  padding: 3px;
  border-radius: 2px;
  line-height: 11px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  text-shadow: none;
  margin: 0 0 0 10px;
}
.item .content-snippet {
  color: #7f8c8d;
  font-size: 90%;
  padding: 10px 0 30px 0;
  border-bottom: solid 1px #ddd;
  line-height: 20px;
  word-break: break-all;
}
.items {
  padding: 20px 30px 0 50px;
}
@media screen and (max-device-width: 768px) {
  #side-menu {
    position: absolute;
    left: -800px;
  }
}
@media screen and (min-device-width: 769px) {
  #content {
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
  }
}
.rect-spinner {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  margin: 100px auto;
  -webkit-animation: rect-sk-rotateplane 1.2s infinite ease-in-out;
  animation: rect-sk-rotateplane 1.2s infinite ease-in-out;
}
@-moz-keyframes rect-sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes rect-sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes rect-sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes rect-sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
