.content
  flex 1
  box-flex 1
  text-shadow -1px 1px 0 rgba(255, 255, 255, 1)
  color #7F8C8D
  width 100%
  min-height 100%



.content > div::-webkit-scrollbar
  width 10px
  height 10px

.content > div::-webkit-scrollbar-thumb
  background #34495E
  border-radius 2px

.content__items
  padding 20px 30px 0 50px
  height 100%

@media screen and (max-width: 768px)
  .content
    padding 40px 0 0 0

  .content__items
    padding 10px 15px 0 15px
    height 100%

  .github-ribbon
    display none

@media screen and (min-width: 769px)
  .content
    overflow-y auto
    max-height 100%
    width 100%
