.side-menu
  background #2980B9
  width 280px
  height 100%
  flex 0 280px
  box-flex 0
  padding 0
  font-size 14px
  overflow-y auto
  scrollbar-face-color accent-color
  scrollbar-track-color rgba(0, 0, 0, .1)

  .side-menu__logo
    width 160px
    height auto
    margin 15px auto 0 60px

.side-menu::-webkit-scrollbar
  width 6px
  height 6px

.side-menu::-webkit-scrollbar-thumb
  background rgba(0, 0, 0, 0.4)
  border-radius 2px